.main{
  margin-left: 100px;
  margin-top: 80px;
}
th{
  width: 200px;
  background-color: black;
  color:gold;
  height: 50px;
  border-radius: 25px;
}
td{
  width: 200px;
  height: 40px;
  padding-left: 35px;
}

